.games__list {
  font-family: Neue Machina;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.games__item {
  flex: 0 0 calc(33.33% - 20px);
  border-radius: 8px;

  background: rgb(28, 28, 28);
  border: 1px solid rgb(69, 69, 69);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 365px;
  justify-content: flex-start;
  opacity: 1;
  outline: none;
  overflow: hidden;
  transition: all 0.3s ease-in 0s;
  width: 210px;
  position: relative;

  margin-bottom: 20px;

  .games__image {
    object-fit: cover;

    max-width: 100%;
    height: 200px;
    margin-bottom: 10px;
  }

  .games__info {
    margin-left: 15px;
  }

  .games__name {
    color: #eaeaea;
    font-size: 22px;
    font-weight: 800;
    line-height: 36px;
    margin-bottom: 6px;
    text-transform: uppercase;
  }

  .games__description {
    color: #afafaf;
    font-size: 12px;
    font-weight: 300;
    height: 80px;
    line-height: 18px;
  }

  .games__genre {
    align-items: center;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #eaeaea;
    display: flex;
    padding: 5px 10px;

    position: absolute;
    top: 10px;
  }
}
