.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    color: rgb(211, 211, 211);
    font-size: 40px;
    margin-bottom: 20px;
  }

  &--input {
    font-family: var(--font-family);
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f316;
    margin: 5px 0;
    font-size: 14px;
    color: var(--main-text-color);

    transition: box-shadow 0.3s;
    appearance: none;
  }

  &--input:focus,
  &--input:hover {
    box-shadow: var(--input-box-shadow)
  }

  &--error {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: #fff;
    border-radius: 5px;
    text-align: center;
  }

  &--button__first {
    font-family: var(--font-family);
    
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #064e00;
    color: rgb(211, 211, 211);
    border: 1px solid #0a6700;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;

    background-color: #353535;
    border: 1px solid #000;

    color: rgb(152, 152, 152);
    margin: 10px;

    transition: color 0.5s, border-color 0.5s;
  }

  &--button__first:hover {
    border-color: #3f9c14;
    color: #3f9c14;
  }
}
