@font-face {
    font-family: Neue Machina;
    src: url(../../../public/NeueMachina-Light.otf);
}

@font-face {
    font-family: Neue Machina;
    src: url(../../../public/NeueMachina-Regular.otf);
}

@font-face {
    font-family: Neue Machina;
    src: url(../../../public/NeueMachina-Ultrabold.otf);
}
