.navbar {
  font-family: var(--font-family);
  width: 100%;
  height: 90px;
  background-color: #1d1d1d;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__content {
    margin-inline: 170px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      color: #fff;
      font-size: 25px;
    }

    &--wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &--games {
      display: flex;
      align-items: center;
      justify-content: center;

      border: 1px solid #454545;
      border-radius: 10px;
      color: var(--main-text-color);
      font-weight: 700;
      padding: 10px 35px;

      margin-right: 40px;
      transition: color 0.3s ease;

      &:hover {
        color: #0a6700;
      }
    }

    &--link {
      text-decoration: none;
      color: #afafaf;
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 300;
      height: 40px;
      margin-right: 32px;
      overflow: hidden;
      position: relative;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 4px;
        background-color: #0a6700;
        transition: width 0.3s ease;
      }

      &:hover {
        color: #0a6700;
      }

      &:hover:after {
        width: 100%;
      }
    }

    &--button {
      border: none;
      outline: none;
      background: rgba(63, 156, 20, 0.5);
      border: 1px solid #3f9c14;
      color: var(--main-text-color);
      font-size: 14px;
      font-weight: 800;
      margin-right: 0;
      width: 200px;

      border-radius: 10px;
      cursor: pointer;
      height: 46px;
    }
  }
}
