.games__category {
  font-family: Neue Machina;
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: #242424;
  border: 1px solid #454545;
  border-radius: 10px;
  color: var(--main-text-color);
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 800;
  height: 46px;
  line-height: 143%;
  padding: 0 25px;
  text-transform: uppercase;

  margin-right: 10px;
  margin-bottom: 10px;

  &.active {
    background-color: #3f9c14;
  }
}
