.login {
  font-family: var(--font-family);
  width: 100%;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container--form {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: var(--container-box-shadow);
  }

  &__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002c00;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &--title {
      margin-bottom: 20px;
      color: rgb(211, 211, 211);
      font-size: 40px;
      align-self: center;
    }
  }

  &__button--second {
    font-family: Neue Machina;

    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #064e00;
    color: rgb(211, 211, 211);
    border: 1px solid #0a6700;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }

  &__button--second:hover {
    transform: scale(1.1);
    background-color: #0a7a00;

    color: #004100;
  }
}
