.login {
  font-family: Neue Machina;
  width: 100%;
  min-height: 100vh;
  background-color: #181818;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container--form {
    width: 900px;
    height: 500px;
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -2px rgba(11, 111, 0, 0.2),
      0px 3px 4px 6px rgba(10, 103, 0, 0.14), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }

  &__left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #181818;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--title {
      color: rgb(211, 211, 211);
      font-size: 40px;
      margin-bottom: 20px;
    }
  }

  &__input {
    font-family: Neue Machina;
    outline: none;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f316;
    margin: 5px 0;
    font-size: 14px;
    color: #eaeaea;

    transition: box-shadow 0.3s;
    appearance: none;
  }

  &__input:focus,
  &__input:hover {
    box-shadow: 0px 5px 3px -2px rgba(18, 185, 0, 0.2),
      0px 3px 4px 0px rgba(19, 184, 1, 0.14), 0px 1px 8px 0px rgb(0 0 0 / 12%);
  }

  &__error {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: white;
    border-radius: 5px;
    text-align: center;
  }

  &__right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #002c00;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &--title {
      margin-bottom: 20px;
      color: rgb(211, 211, 211);
      font-size: 40px;
      align-self: center;
    }
  }

  &__button--first,
  &__button--second {
    font-family: Neue Machina;
    
    border: none;
    outline: none;
    padding: 12px 0;
    background-color: #064e00;
    color: rgb(211, 211, 211);
    border: 1px solid #0a6700;
    border-radius: 20px;
    width: 180px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;

    transition: transform 0.3s, background-color 0.3s, color 0.3s;
  }

  &__button--first {
    background-color: #353535;
    border: 1px solid black;

    color: rgb(152, 152, 152);
    margin: 10px;

    transition: color 0.5s, border-color 0.5s;
  }

  &__button--first:hover {
    border-color: #3f9c14;
    color: #3f9c14;
  }

  &__button--second:hover {
    transform: scale(1.1);
    background-color: #0a7a00;

    color:#004100;
  }
}
